.col {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col p {
  margin-top: 0;
}

.col h1 {
  text-align: center;
}

.col.center {
  align-items: center;
}

.col.right {
  align-items: flex-end;
}
