.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 500px;
  padding: 40px 30px;
  box-shadow: 0px 0px 100px 0px #ddd;
}

/* .col:not(:last-child) {
  margin-right: 20px;
} */

.col {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col p {
  margin-top: 0;
}

.col.center {
  align-items: center;
}

.me {
  display: block;
  border-radius: 50%;
  width: 50%;
  box-shadow: 0 0 8px 3px #60c4c3;
}

.vr {
  flex-basis: 2px;
  border: none;
  width: 4px;
  margin: 0 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(235, 235, 235, 0),
    rgba(235, 235, 235, 1),
    rgba(235, 235, 235, 1),
    rgba(235, 235, 235, 1),
    rgba(235, 235, 235, 0)
  );
}
