.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

svg {
  margin: 0 10px;
  color: #60c4c3;

  filter: brightness(0.9);

  &:hover {
    filter: brightness(1);
  }
}

.me {
  display: block;
  border-radius: 50%;
  max-width: 180px;
  box-shadow: 0 0 8px 3px #60c4c3;
}
