$leafColour: #87c0d2;

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

svg {
  margin: 0 10px;
  color: $leafColour;

  filter: brightness(0.95);

  &:hover {
    filter: brightness(1);
  }
}

.me {
  display: block;
  border-radius: 50%;
  max-width: 160px;
  box-shadow: 0 0 8px 3px $leafColour;
}
